src/healthDAODocs/
node_modules/
.env
src/healthDAOChat.js
Apple_Health_Records/
Health_Record/
uploads/
eng.traineddata

# exclude everything
uploads/*
src/healthDAOVector/*

# exception to the rule
!uploads/.gitkeep
!src/healthDAOVector/.gitkeep