flask==2.3.2
flask-babel==3.1.0
flask-cors==4.0.0
Flask-SocketIO==5.3.4
Flask-Session==0.5.0
Flask-Login==0.6.2
python-engineio==4.5.1
python-socketio==5.8.0
gunicorn==20.1.0
gunicorn[gevent]==20.1.0
eventlet==0.33.3
gevent-websocket==0.10.1
geventhttpclient==2.0.9
opencv-contrib-python-headless==4.7.*
opencv-python-headless==4.7.*
pdf2image==1.16.3
python-dotenv==0.21.1
pathvalidate==3.0.0
pytesseract==0.3.10
pypdf==3.9.1
pypdf[image]
requests==2.31.*
langchain[llm]
chromadb
openai
unstructured
tiktoken